@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .hero-title {
        font-size: 36px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .hero-title {
        font-size: 28px;
    }
    .col-3 {
        width: 50%;
    }
    .col-4 {
        width: 50%;
    }
    .portfolio .col-4 {
        width: 50%;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .hero-title {
        font-size: 21px;
    }
}
@media (max-width: 576px) {
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .portfolio .col-4 {
        width: 100%;
    }
}
